body {
  font-family: 'Manrope', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #202020;
    color: #ffffff;
}

h1 {
  color: #34ccff;
  padding-left: 10px;
}
img {
  max-width: 200px;
  height: auto;
  display: block;
}
a {
  color: #1E90FF;
  padding-right: 15px;
}
header {
  background-color: #151515;
  color: rgb(0, 114, 114);
  padding: 10px 0;
  padding-left: 20px;
}

footer {
  border-radius: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #151515;
  color: aqua;
  padding: 10px;
  padding-left: 20px;
  font-size: 24px;
}

header {
  border-radius: 10px 10px 10px 10px;
}